.body{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: #f5f5f5;
}

.loginCard{
  max-width: 450px !important;
  margin: 4em auto;
  text-align: center;
  max-height: 600px;
}

.logo{
  max-width: 450px;
  height: 200px;
}

.header{
  text-align: center;
}

.full-width{
  width: 90%;
}


